/* custom-mde.css */
.custom-mde {
    width: 50%;
    border-right: 0;
}

.custom-mde .mde-textarea-wrapper {
    border-right: 1px solid #e5e7eb;
}

.preview-custom-hd {
    border: 1px solid #e5e7eb;
    border-left: 0;
    background: #f9f9f9;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.react-mde {
    border-color: #e5e7eb;

    .mde-header {
        border-color: #e5e7eb;

        .mde-textarea-wrapper {
            border-color: #e5e7eb;
        }
    }
}